
.fondo{
    display: grid;
    grid-template-columns: minmax(min-content,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.button{
    border: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background-color: #aaa;
    padding: 15px 20px;
    border-radius: 5px;
    cursor:pointer;
}

.button:hover{
    background-color: #008;
}

.button:valid{
    background-color: #1a2537;
    opacity: 1;
}




